.accordion-title {
  color: #000;
  font-family: Open Sans Hebrew;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.item-card {
  width:100px;
  height:100px;
  padding: 2px;
}

.item-image {
  object-fit: fill;
  height: inherit;
  width: 99%;
  border-radius: 20px;
}

